body {
  background-color: #ffffff;
}

#timestep {
  font-family: 'Courier New', Courier, monospace;
  position: absolute;
  top: 10px;
  width: 100%;
  text-align: right;
  z-index: 1;
  display:block;
}